* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
header {
    height: 100px;
    width: 100%;    
    display: flex;
    flex-direction: column;
}
.top-nav{
    background: rgb(19, 25, 33);
    height: 60px;
    width: 100%;
}
.bottom-nav{
    background: rgb(34, 46, 61);
    height: 50px;
    width: 100%;
}
main {
    background: url(a_bird_flying_over_a_beach.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    width: 100%;
    align-content: center;
    gap: 20px;
}
.cont-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.side-btns {
    margin: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.side-btns button{
    background: none;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 30px;
}
.cont-1  .box1,
.cont-1 .box2,
.cont-1 .box3 {
    height: 350px;
    width: 23%;
    background: gray;
}
.cont-1 .box4 {
    height: 150px;
    background: gray;
    width: 23%;
}

.cont-2, .cont-5, .cont-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cont-2 .box1,
.cont-2 .box2,
.cont-2 .box3, 
.cont-2 .box4 {
    height: 350px;
    width: 23%;
    background: gray;
}
.cont-3, .cont-4, .cont-6 {
    width: 100%;
    height: 40vh;
    background: gray;
}

.cont-5 .box1,.cont-5 .box2,.cont-5 .box3,.cont-5 .box4 {
    height: 350px;
    width: 23%;
    background: gray;
}
.cont-7 {
    display: flex;
    height: 10%;
    justify-content: space-between;
    flex-direction: column;
    
}
.cont-7-info {
    display: flex;
    justify-content: space-between;
}
.cont-7-5 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;

}
.cont-7-product1,
.cont-7-product2,
.cont-7-product3,
.cont-7-product4,
.cont-7-product5,
.cont-7-product6 {
    height: 220px;
    width: 20%;
    background: gray;
}
.cont-7-products {
    display: flex;
    overflow: hidden;
    height: 200px;
    gap: 10px;
}
.cont-7-product {
    background: black;
    width: 100%;
    height: 200px;
}
.cont-8 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 0 0;
}
.cont-8-5 {
    padding: 20px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.cont-8-5 button a{
    text-decoration: none;
    color: black;
}
.cont-8-5 button {
    height: 30px;  
    width: 250px;
    border: none;
    border-radius: 40px;
    background: rgb(255, 230, 0);
}
footer{
    width: 100%;
}

.back-to-top{
    background: rgb(54, 70, 89);
    width: 100%;
    display: flex;
    text-decoration: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;

} 
.f-cont-1 {
    display: flex;
    width: 100%;
    height: 300px;
    /* margin:  0 50px 0 50px; */
    justify-content: space-evenly;
    padding-top: 20px ;
    background-color: rgb(34, 46, 61);
    color: white;
    li {
        list-style: none;
        color: white;
    }
    a {
        text-decoration: none;
        color: white;
    }
    border-bottom: 1px solid #ddd ;
}
.f-cont-info-1,
.f-cont-info-2,
.f-cont-info-3,
.f-cont-info-4 {  

    line-height: 25px;
    div {
        font-weight: bold;
        font-size: 1.2rem;
    }
    a:hover {
        border-bottom: 1px solid white;
    }
}
.f-cont-2 {
    display: flex;
    padding: 0 20px 0 20px;
    height: 80px;
}
.nav-footer-line{
    width: 80%;
}
.language {
    width: 14%;
}

.lang{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding:  5px 5px 5px 5px;
}
.up-down {
    display: flex;
    flex-direction: column;
    font-size: 6px;
    line-height: 6px;
    position: absolute;
    right: 0;
}
.region-select {
    display: flex;
    padding: 5px 5px 5px 5px;
    height: 20px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 5%;
}
.flag {
    width: 20px;
    height: 10px;
    padding: 2px;
    background: black;
}


